@import "tailwindcss";
@import "tailwindcss-animated";

html, body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    display: block;
    font-size: 2em; /* This translates to approximately 32px if the browser's default font-size is 16px */
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value]::before {
    content: attr(data-value) !important;
}

/*for font-family*/

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value]::before {
    content: attr(data-value) !important;
}

.ql-snow .ql-picker.ql-font {
    width: 150px !important;
    white-space: nowrap;
}

.ql-container {
    position: relative;
    overflow: visible !important;
}

.ql-word-count{
    margin-left: auto;
}

.ql-align-center img {
    display: block;
    margin: 0 auto;
}

.ql-align-right img{
    display: block;
    margin-left: auto;
}

.ql-align-left img{
    display: block;
    margin-right: auto;
}