@import "tailwindcss";

html, body {
    font-family: 'Montserrat', sans-serif;
}

.ql-snow .ql-picker.ql-size .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value]::before {
    content: attr(data-value) !important;
}

/*for font-family*/

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value]::before {
    content: attr(data-value) !important;
}

.ql-snow .ql-picker.ql-font {
    width: 150px !important;
    white-space: nowrap;
}

.ql-container {
    position: relative;
    overflow: visible !important;
}

.ql-word-count{
    margin-left: auto;
}